/* Page Resetting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px red solid !important; visibility: visible !important; */
}

html {
    scroll-behavior: smooth;
}

/* Common Styling */

body {
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: #d4d4d4;
}

/* Start Navbar styling */

nav.navbar {
    width: 100%;
    height: 15vh;
    background-color: teal;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
}

div.logo-container {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

div.hamburger-container {
    display: none;
}

/* Midea Query implemented on Extra Small Device */

@media (min-width: 576px) and (max-width: 970px){
    nav.navbar {
        height: 13vh;
    }

    div.hamburger-container {
        float: left;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        margin-right: 10px;
        font-size: 22px;
        cursor: pointer;
        position: relative;
    }

    div.hamburger-container i.fa-bars,
    div.hamburger-container i.fa-times {
        color: #d4d4d4;
        z-index: 2;
        position: absolute;
    }

    div.hamburger-container i.fa-times {
        display: none;
    }
}

@media (max-width: 575px) {
    nav.navbar {
        height: 10vh;
    }

    div.hamburger-container {
        float: left;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        margin-right: 10px;
        font-size: 22px;
        cursor: pointer;
        position: relative;
    }

    div.hamburger-container i.fa-bars,
    div.hamburger-container i.fa-times {
        color: #d4d4d4;
        z-index: 2;
        position: absolute;
    }

    div.hamburger-container i.fa-times {
        display: none;
    }
}

a.logo {
    margin-right: 10px;
    font-weight: 600;
    font-size: 22px;
    z-index: 2;
}

small {
    color: #d4d4d498;
    z-index: 2;
}

div.search-container {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

div.search-container input {
    height: 30px;
    padding: 10px;
    background-color: #d4d4d4;
    border: none;
    border-radius: 2px;
    outline: none;
}

div.search-container i.fa-search {
    color: teal;
    position: absolute;
    left: 85%;
}

/* Midea Query implemented on Extra Small Device */

@media (min-width: 576px) and (max-width: 970px) {
    div.search-container {
        width: 100%;
        height: 60%;
        justify-content: center;
        margin: 0;
    }

    div.search-container input {
        width: 100%;
        height: 100%;
        padding: 10px;
        padding-left: 55px;
        border-radius: 0px;
    }

    div.search-container i.fa-search {
        color: teal;
        position: absolute;
        font-size: 22px;
        left: 3%;
    }
}

@media (max-width: 575px) {
    div.search-container {
        width: 100%;
        height: 60%;
        justify-content: center;
        margin: 0;
    }

    div.search-container input {
        width: 100%;
        height: 100%;
        padding: 10px;
        padding-left: 55px;
        border-radius: 0px;
    }

    div.search-container i.fa-search {
        color: teal;
        position: absolute;
        font-size: 22px;
        left: 3%;
    }
}

div.menu-container {
    height: 100%;
}

div.menu-container ul.menu-bar {
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

div.menu-container ul.menu-bar div.menu-item-rack {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.menu-container ul.menu-bar div.menu-item-rack i {
    margin-right: 8px;
}

/* Midea Query implemented on Extra Small Device */

@media (min-width: 576px) and (max-width: 970px) {
    div.menu-container ul.menu-bar {
        display: none;
    }

    div.menu-container-sd {
        display: inline-block;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        background-color: teal;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: -50%;
        transition: all 0.3s ease;
    }

    div.menu-container-sd-appear {
        margin-left: 0px;
    }

    div.menu-container-sd ul.menu-bar {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 10%;
    }

    div.menu-container ul.menu-bar div.menu-item-rack {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 575px) {
    div.menu-container ul.menu-bar {
        display: none;
    }

    div.menu-container-sd {
        display: inline-block;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        background-color: teal;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: -50%;
        transition: all 0.3s ease;
    }

    div.menu-container-sd-appear {
        margin-left: 0px;
    }

    div.menu-container-sd ul.menu-bar {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 10%;
    }

    div.menu-container ul.menu-bar div.menu-item-rack {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* End Navigation Styling */

/* Start Bannar */

div.bannar-section {
    width: 100%;
    height: 85vh;
    position: relative;
}

div.image-rack {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 2s ease-in-out;
}

div.bannar-section div.active {
    opacity: 1;
}

div.image-rack::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 1, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

div.bannar-section div.image-rack img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.bannar-title-section {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

div.bannar-title {
    color: #fff;
    line-height: 2.5;
}

div.bannar-title h2 {
    word-spacing: 5px;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 5px #00fff2, 0 0 10px #00fff2, 0 0 15px #00fff2, 0 0 20px #00fff2, 0 0 25px #00fff2, 0 0 30px #00fff2, 0 0 35px #00fff2, 0 0 40px #00fff2;
    }
 
    to {
        color: gray;
        text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 1 80px #00fff2;
    }
}

div.bannar-title h2 span {
    display: inline-block;
    font-weight: 900;
    transform: skewX(-20deg);
    letter-spacing: 2px;
}

div.bannar-title p {
    color: #d4d4d4;
}

div.bannar-title-section div.btn button {
    width: 176px;
    height: 35px;
    outline: none;
    border: 1px solid teal;
    cursor: pointer;
    background-color: transparent;
    color: #d4d4d4;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

div.bannar-title-section div.btn button:hover {
    background-color: teal;

}

/* Midea Query implemented on Extra Small Device */

@media (min-width: 576px) and (max-width: 970px) {
    div.bannar-title h2 {
        animation: glow paused;
    }
    
    div.bannar-section {
        height: 87vh;
    }

    div.bannar-title-section {
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        justify-content: space-around;
        width: 80%;
        height: 30%;
    }

    div.bannar-title {
        line-height: 2.5;
    }

    div.bannar-title h2 {
        word-spacing: 2px;
        font-size: 20px;
    }

    div.bannar-title p {
        font-size: 15px;
    }

    div.bannar-title-section div.btn button {
        width: 140px;
        height: 35px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    div.bannar-title-section div.btn button:hover {
        background-color: transparent;
    }
}

@media (max-width: 575px) {
    div.bannar-title h2 {
        animation: glow paused;
    }

    div.bannar-section {
        height: 90vh;
    }

    div.bannar-title-section {
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        justify-content: space-around;
        width: 80%;
        height: 25%;
    }

    div.bannar-title {
        line-height: 2.5;
    }

    div.bannar-title h2 {
        word-spacing: 2px;
        font-size: 18px;
    }

    div.bannar-title p {
        font-size: 14px;
    }

    div.bannar-title-section div.btn button {
        width: 128px;
        height: 35px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    div.bannar-title-section div.btn button:hover {
        background-color: transparent;
    }

} /* Ends of Bannar */

/* Start of Services */

div.para-container {
    width: 100%;
    background-color: teal;
}

div.para-container::before { 
    display: block; 
    content: " "; 
    margin-top: -95px; 
    height: 95px; 
    visibility: hidden; 
    pointer-events: none;
  }

div.para-container div.para-rack {
    width: 69%;
    height: 100%;
    color: #fff;
    margin: 0 auto;
    padding: 40px;
}

div.para-container div.para-rack h2 {
    text-align: center;
    margin-bottom: 20px;
}

div.para-container div.para-rack p {
    text-align: justify;
    line-height: 1.6;
}

div.services-icon-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

div.services-icon-container div.services-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 170px;
    color: teal;
}

/* Media Query for Small Devices */

@media (max-width: 575px) {
    div.services-icon-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.services-icon-container div.services-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 170px;
        padding: 15px;
    }

    div.services-icon-container div.services-icons i.fa-8x {
        font-size: 100px;
    }
}

/*  Account Start */

div.account {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-top: 0;
}

div.account::before { 
    display: block; 
    content: " "; 
    margin-top: 50px; 
    height: 50px; 
    visibility: hidden; 
    pointer-events: none;
  }

div.account h2 {
    margin-bottom: 20px;
    color: teal;
}

div.account div.form-container {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    width: 35%;
    min-width: 400px;
}

div.account div.form-container form {
    padding: 20px;
}

div.account div.form-container form div.label-rack {
    width: 100%;
    padding: 20px 0 5px 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

div.account div.form-container form div.label-rack i {
    margin-right: 10px;
}

div.account div.form-container form input {
    width: 100%;
    height: 35px;
    padding: 10px;
}

div.account div.form-container form p {
    font-size: 14px;
    margin-top: 5px;
}

div.account div.form-container form button {
    display: block;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    color: #fff;
    background-color: teal;
    border: none;
}

/* Customer Judgement */

div.customer-container {
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

div.customer-container h2 {
    text-align: center;
    margin: 10px 0;
    color: teal;
}

div.customer-sub-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

div.customer-container div.customer-sub-container div.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 10px;
    border-radius: 2px;
    background-color: teal;
}

div.customer-container div.customer-sub-container div.card div.card-image-rack {
    width: 100%;
    height: 300px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.customer-container div.customer-sub-container div.card div.card-image-rack img {
    width: 100%;
    height: 100%;
    min-height: 300px;
    margin-top: 50px;
    transform: scale(.8);
    object-fit: cover;
    clip-path: circle(40% at 50% 45%);
    margin-bottom: 10px;
}

div.customer-container div.customer-sub-container div.card div.title-rack {
    text-align: center;
    color: #fff;
    padding: 0px 20px 20px;
}

/* Start of Contact */

div.contact-section {
    width: 100%;
    padding: 20px;
}

div.contact-section h2 {
    text-align: center;
    color: teal;
    margin-bottom: 10px;
}

div.contact-section div.contact-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.contact-section div.contact-container div.contact-form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.contact-section div.contact-container div.contact-form input {
    width: 100%;
    height: 35px;
    padding: 10px;
    margin: 5px 0;
}

div.contact-section div.contact-container div.contact-form textarea {
    width: 100%;
    padding: 10px;
}

div.contact-section div.contact-container div.contact-form button {
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    background-color: teal;
}

div.contact-section div.contact-container div.contact-address {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.contact-section div.contact-container div.contact-address div.hq {
    margin-bottom: 10px;
}

/* Start of Footer */

footer {
    width: 100%;
    height: 80px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin-right: 10px;
}

div.social-icon > span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    margin-left: 1rem;
    transition: all 0.5s ease-in-out;
}

div.social-icon span:first-child {
    margin-left: 0;
}

div.social-icon > span > i {
    position: absolute;
    font-size: 1.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease-in-out;
}

div.social-icon > span.f {
    border: 1px solid #3b5998;
}

div.social-icon > span.t {
    border: 1px solid #00acee;
}

div.social-icon > span.l {
    border: 1px solid #0e76a8;
}

div.social-icon > span.p {
    border: 1px solid #c8232c;
}

div.social-icon > span > i.fa-facebook-f {
    color: #3b5998;
}

div.social-icon > span > i.fa-twitter {
    color: #00acee;
}

div.social-icon > span > i.fa-linkedin {
    color: #0e76a8;
}

div.social-icon > span > i.fa-pinterest {
    color: #c8232c;
}

div.social-icon > span.f:hover {
    background: #3b5998;
}

div.social-icon > span.t:hover {
    background: #00acee;
}

div.social-icon > span.l:hover {
    background: #0e76a8;
}

div.social-icon > span.p:hover {
    background: #c8232c;
}

div.social-icon > span:hover i {
    color: #fff;
}




